.navbar .nav-link{
    font-size: 20px;
    font-weight: 600;
  }
  .btn {
    padding:10px 18px;
    border-radius: 10px;
    margin: 2px;
  }
  td, th {
    text-align: center !important;
    vertical-align: middle !important;
  }
  .mat-sort-header-container {
    justify-content: center !important;
  }
  .center {
    display: flex;
    justify-content: center;
  }