<br>
<div class="container">
  <button class="btn btn-primary" type="button" routerLink="/orders"><span>Back</span></button>
</div>
<br>


<h1 style="text-align:center">Order details:</h1>
<div class="container">
  <table id="dataTable" class="table table-striped table-hover table-bordered">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{order.id}}</td>
      </tr>
      <tr>
        <td>Tracking No.</td>
        <td>{{order.numberTracking}}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{order.address}}</td>
      </tr>
      <tr>
        <td>Order Date</td>
        <td>{{order.orderDate | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>
